:root {
	--main-txt-color: #3D4543;
	--contrast-color: #FD675E;
	--light-grey: #d3d3d3;
	--dark-grey: #4A4A4A;
	--light-yellow: #F8F4C6;
	--background: #F2F2F2;
	--contrast-green: #68B053;
}

body {
	margin: 0px;
	background-color: var(--background);
}

.intro {
	margin: 50px 0px 75px 20px;
}

/* IMAGES */
img {
	max-width: 100%;
}

.img-small {
	width: 20%;
	margin: 50px auto 50px auto;
}

.img-full {
	margin: 20px 0px 20px 0px;
	text-align: center;
}

.img-full .img-info {
	margin: 0px;
	font-family: mono-space, 'Courier New', Courier, monospace;
	font-size: 0.5em;
	text-align: right;
}

/* PAGE LAYOUT */
.content-wrapper {
	width: 60%;
	max-width: 600px;
	margin: 20px auto 50px auto;
}

/* SEGMENTED LINE AND HEADER */
.seg-line {
	border-top: solid 1px currentColor;
	margin-top: 20px;
}

.seg-element {
	padding: 5px 10px 3px 0px;
	margin: 0px 10px 0px 0px;
    font-size: 0.7em;
    display: inline-block;
	border-right: solid 1px currentColor;
}

.seg-element a:link {
	text-decoration: none;
}

/* REVUE EMBED */
#newsletter-embed {
	margin-top: 20px;
	padding: 10px 30px 30px 30px;
	border: 1px solid var(--main-txt-color);
	border-radius: 0.5em;
	background-color: var(--light-yellow);
}

#newsletter-embed p {
	text-align: left;
	margin: 10px 0px 10px 0px;
}

#newsletter-embed input[type=email] {
	width: 95%;
	margin-top: 10px;
	background-color: inherit;
	font-size: 1em;
	border: none;
	border-bottom: 1px solid var(--main-txt-color);
	font-family: calendas-regular, Times, Serif;
	font-style: italic;
}
#newsletter-embed input[type=submit] {
	margin-top: 20px;
	padding: 5px 10px 5px 10px;
	background-color: #ffffff;
	color: var(--main-txt-color);
	border: 0.5px solid var(--main-txt-color);
	border-radius: 30px;
	font-family: mono-space, 'Courier New', Courier, monospace;
	font-size: 0.6em;
	cursor: pointer;
}

#newsletter-embed ::placeholder {
	color: var(--dark-grey);
	opacity: 1;
}

/* VIDEO EMBEDS */

#video-embed {
    position: relative;
    height: 0;
	padding-bottom: 56.25%;
	margin-top: 32px;
}

.video-extern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*BUTTON STYLE*/
.button {
	border: 1px solid var(--main-txt-color);
    background-color: var(--background);
	border-radius: 40px;
	padding: 1px 10px 1px 10px;
	margin-right: 10px;
    font-size: 0.7em;
    display: inline-block;
	font-family: mono-space, 'Courier New', Courier, monospace;
	text-decoration: none;
}

#btn-all-articles {
	margin-top: 8px;
}

/* FOOTER */
.footer {
	margin: 50px 0px 50px 0px;
    color: var(--dark-grey) !important;
}

.footer a:link {
    color: var(--dark-grey);
    border-bottom: none;
	text-decoration: none;
}

/* HEADER */
.header {
	margin: 30px 0px 30px 0px;
}

/* ARTICLE LIST */
.article-list {
	margin: 50px 0px 75px 20px;
}

.article-list a:link {
	text-decoration: none;
	margin-right: 5px;
}

.article-list h2 {
	display:inline;
}

.article-list img {
	max-height: 1.3em;
    display: inline;
    margin-right: 5px;
}

/* SERIES LIST */

.series-block {
	padding: 5px 10px 5px 10px;
	border: 1px solid;
    margin: 10px 5px 5px 0px;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
}

/* PROJECT LIST */

#project-list {
	list-style: none;
	padding: 0px;
}

#project-list div {
	vertical-align: top;
}

.project-year {
	width: 10%;
}

.project-summary {
	padding-right: 10px;
	margin: 20px 0px 50px 20px;
}

/* CENTRED LIST */

.centered-list {
	padding: 0px;
	list-style: none;
  	counter-reset: mono-space-counter;
}

.centered-list li{
	counter-increment: mono-space-counter;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid var(--main-txt-color);
	text-align: center;
	list-style-position: inside;
}

.centered-list li::before {
	content: counter(mono-space-counter, upper-roman) ".";
	font-family: mono-space, 'Courier New', Courier, monospace;
	font-size: 0.7em;
}

/* TYPOGRAPHY */

@font-face { font-family: 'calendas-regular'; src: url('../fonts/calendas_plus-webfont.ttf') format('truetype'); }
@font-face { font-family: 'calendas-italic'; src: url('../fonts/calendas_plus_italic-webfont.ttf') format('truetype'); }
@font-face { font-family: 'calendas-bold'; src: url('../fonts/calendas_plus_bold-webfont.ttf') format('truetype'); }

@font-face { font-family: 'mono-space'; src: url('../fonts/RobotoMono-Regular.ttf') format('truetype'); }

body {
	font-family: calendas-regular, Times, Serif;
	font-feature-settings: "liga" 1, "calt" 1, "kern" 1;
	color: var(--main-txt-color);
}

.color {
	color: var(--contrast-color);
}

.color-green {
	color: var(--contrast-green);
}

.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

.mono-space {
	font-family: mono-space, 'Courier New', Courier, monospace;
}

.serif {
	font-family: calendas-regular, Times, Serif;
}

em, i, .italics {
	font-style: italic;
	font-family: calendas-italic, Times, Serif;
}

b, strong, .bold {
	font-family: calendas-bold, Times, Serif;
}

.regular {
	font-family: calendas-regular, Times, Serif;
	font-weight: normal;
}

.small {
	font-size: 0.7em;
}

.centered {
	text-align: center;
}

.no-decoration {
	text-decoration: none;
}

h1 {
	font-weight: normal;
	line-height: 1.4em;
	font-feature-settings: "liga" 1, "calt" 1, "kern" 1, "swsh" 1;
}

h2 {
	font-weight: normal;
	line-height: 1.4em;
}

h3 {
	font-size: 1em;
	text-transform: uppercase;
	font-family: mono-space, 'Courier New', Courier, monospace;
	font-weight: 100;
}

p, span, div, blockquote, li, ol, ul {
    overflow-wrap: break-word;
    word-wrap: break-word;
	hyphens: auto;

	line-height: 1.4em;
}

a {
    font-weight: inherit !important;
	color: inherit !important;
}

blockquote {
	padding-left: 20px;
    margin-left: 5px;
    border-left: 1px solid var(--light-grey);
}

hr {
	margin: 20px 0px 20px 0px;
	border:none;
	border-top: solid 1px var(--dark-grey);
}

/* MEDIA QUERIES */
@media (max-device-width: 1020px) { 
	.content-wrapper {
		width: 90%;
	}
}

@media print {
	body {
		background-color: white;
	}

	.content-wrapper {
		width: 100%;
	}

	.footer {
		display: none;
	}
  }