:root {
    --main-txt-color: #29293a;
    --contrast-txt-color:#007a55
  }

/* PAGE LAYOUT */
.content-wrapper {
	width: 70%;
	margin: 100px auto 0px auto;
}

/* ARTICLE LIST */
.article_list {
    margin: 100px 0px 0px 0px;   
}

.article_list li {
    font-size: 1.5em;
    list-style-type: none;
    margin: 10px 0px 0px 0px;
}

.article_list ul {
    padding: 0px;;
}

.article_list a:link {
	border: none !important;
}

.date {
    display: inline;
    font-size: 0.7em;
}

/* TYPOGRAPHY */

@font-face { font-family: 'calendas-regular'; src: url('../fonts/calendas_plus-webfont.ttf') format('truetype'); }
@font-face { font-family: 'calendas-italic'; src: url('../fonts/calendas_plus_italic-webfont.ttf') format('truetype'); }
@font-face { font-family: 'calendas-bold'; src: url('../fonts/calendas_plus_bold-webfont.ttf') format('truetype'); }

body {
	font-family: calendas-regular, Times, Serif;
	font-feature-settings: "liga" 1, "calt" 1, "kern" 1;
	color: var(--main-txt-color);
}

.color {
	color: var(--main-txt-color);
}

.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

.mono-space {
	font-family: sans-serif;
}

i {
	font-family: calendas-italic, Times, Serif;
}

b {
	font-family: calendas-bold, Times, Serif;
}

h1 {
	font-weight: normal;
	line-height: 1.8em;
	font-feature-settings: "liga" 1, "calt" 1, "kern" 1, "swsh" 1;
}

p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

a {
    font-weight: inherit !important;
	color: inherit !important;
	/*text-decoration: none;
	border-bottom: solid 1px currentColor;
  	text-shadow:
	    1px 1px white,
	    1px -1px white,
	    -1px 1px white,
        -1px -1px white;*/
}

blockquote {
	margin-left: 20px;
	font-family: calendas-italic, Times, Serif;
}

/* MEDIA QUERIES */
@media (max-device-width: 1020px) { 
	.content-wrapper {
		width: 90%;
		margin: 100px auto 0px auto;
	}
}