:root {
    --main-txt-color: #29293a;
	--contrast-color: #F2385A;
	--light-grey: #D3D3D3;
	--dark-grey: #4A4A4A;
	--background: #F2F2F2;
}

body {
	margin: 0px;
	background-color: var(--background);
}

img {
	max-width: 100%;
}

/* PAGE LAYOUT */
.content-wrapper {
	width: 60%;
	max-width: 700px;
	margin: 20px auto 50px auto;
}

/* FOOTER */
.footer {
	margin: 100px 0px 50px 0px;
    color: var(--dark-grey) !important;
    border-top: solid 1px currentColor;
}

.footer a:link {
	padding: 5px 10px 2px 0px;
    margin: 0px 5px 10px 0px;
    color: var(--dark-grey);
    font-size: 0.7em;
    border-bottom: none;
    display: inline-block;
	border-right: solid 1px currentColor;
	text-decoration: none;
}

/* HEADER */
.header {
	margin: 30px 0px 30px 0px;
}

/* ARTICLE LIST */
.article_list {
    margin: 100px 0px 0px 0px;   
}

.article_list li {
    font-size: 1.5em;
    list-style-type: none;
    margin: 10px 0px 0px 0px;
}

.article_list ul {
    padding: 0px;;
}

.article_list a:link {
	border: none !important;
}

.date {
    display: inline;
    font-size: 0.7em;
}

/* TYPOGRAPHY */

@font-face { font-family: 'calendas-regular'; src: url('../fonts/calendas_plus-webfont.ttf') format('truetype'); }
@font-face { font-family: 'calendas-italic'; src: url('../fonts/calendas_plus_italic-webfont.ttf') format('truetype'); }
@font-face { font-family: 'calendas-bold'; src: url('../fonts/calendas_plus_bold-webfont.ttf') format('truetype'); }

body {
	font-family: calendas-regular, Times, Serif;
	font-feature-settings: "liga" 1, "calt" 1, "kern" 1;
	color: var(--main-txt-color);
}

.color {
	color: var(--contrast-color);
}

.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

.mono-space {
	font-family: sans-serif;
}

b {
	font-family: calendas-bold, Times, Serif;
}

h1 {
	font-weight: normal;
	line-height: 1.3em;
	font-feature-settings: "liga" 1, "calt" 1, "kern" 1, "swsh" 1;
}

p {
    overflow-wrap: break-word;
    word-wrap: break-word;
	hyphens: auto;
}

a {
    font-weight: inherit !important;
	color: inherit !important;
	/*text-decoration: none;
	border-bottom: solid 1px currentColor;
  	text-shadow:
	    1px 1px white,
	    1px -1px white,
	    -1px 1px white,
        -1px -1px white;*/
}

a:hover {
	color: var(--contrast-color);
}

blockquote {
	font-family: calendas-italic, Times, Serif;
	padding-left: 20px;
    margin-left: 5px;
    border-left: 1px solid gray;
}

/* MEDIA QUERIES */
@media (max-device-width: 1020px) { 
	.content-wrapper {
		width: 90%;
	}
}