/* TYPOGRAPHY */

.article-wrapper {
    font-size: 18px;
}

p {
    text-align: justify;
    margin: 32px 0px 0px 0px;
} 

li {
    margin-top: 1em;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

h2 { 
    margin-top: 50px;
}

ul , ol {
    margin: 16px 8px 16px 8px;
    padding-left: 16px;
}