/* TYPOGRAPHY */

.article-wrapper {
    font-size: 18px;
}

p {
    text-align: justify;
    margin: 32px 0px 0px 0px;
} 

li {
    margin-top: 0.2em;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    hyphens: none;
}

h2 { 
    margin-top: 30px;
    hyphens: none;
}

ul , ol {
    margin: 16px 8px 16px 8px;
    padding-left: 16px;
}

#post-title {
    margin-bottom: 0px;
}

#post-subtitle {
    margin: 30px 0px 50px 0px;
}