/* TYPOGRAPHY */

.article-wrapper {
    font-size: 18px;
}

p {
    text-align: justify;
    margin: 32px 0px 0px 0px;
} 

li {
    margin-top: 1em;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

h2 { 
    margin-top: 30px;
}

ul , ol {
    margin: 16px 8px 16px 8px;
    padding-left: 16px;
}

.article-wrapper a:link {
    color: inherit !important;
    text-decoration: none;
    background-color: var(--light-yellow);
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
}