/* BREADCRUMBS NAVIGATION */
#breadcrumbs a {
    text-decoration: none;
}

/* WIKI TOPIC LIST */

.topic {
    display: inline-block;
    padding: 5px 15px 5px 15px;
    width: 200px;
    background-color: var(--light-grey);
    margin: 0px 15px 15px 0px;
}

/* LIST OF NOTES */
#notes_list {
    padding: 0px;
}

.notes {
    list-style-type: none;
    margin: 30px 0px 50px 0px;
    border-top: 1px solid var(--dark-grey);
}

.notes img {
    max-width: 100%;
}

#notes_link {
    padding: 5px 10px 2px 0px;
    margin: 0px 0px 10px 0px;
    color: var(--dark-grey);
    font-size: 0.7em;
    border-bottom: none;
    display: inline-block;
    border-right: solid 1px currentColor;
}

.notes h1 {
    font-feature-settings: "liga" 0, "calt" 0, "kern" 1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    text-transform: bold;
}

.notes h2 {
    font-size: 1em;
    text-transform: capitalize;
    margin-top: 30px;
    padding-top: 5px;
}

.notes h3 {
    font-size: 1em;
}