/* BREADCRUMBS NAVIGATION */
#breadcrumbs {
    font-size: 0.7em;
}

/* LIST OF NOTES */
#notes_list {
    padding: 0px;
}

.notes {
    list-style-type: none;
    margin: 30px 0px 50px 0px;
    border-top: 1px solid #D3D3D3;
}

.notes img {
    max-width: 100%;
}

#notes_link {
    padding: 5px 10px 2px 0px;
    margin: 0px 0px 10px 0px;
    color: #D3D3D3;
    font-size: 0.7em;
    border-bottom: none;
    display: inline-block;
    border-right: solid 1px currentColor;
}

.notes h1 {
    font-feature-settings: "liga" 0, "calt" 0, "kern" 1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    text-transform: bold;
}

.notes h2 {
    font-size: 1em;
    text-transform: capitalize;
    margin-top: 30px;
    border-top: 1px solid currentColor;
    padding-top: 5px;
}

.notes h3 {
    font-size: 1em;
}