_site/
_css/
.bundle/
.sass-cache/
.vscode/
vendor/
.jekyll-cache/


wiki/.Ulysses-Group.plist
wiki/.Ulysses-Settings.plist

.DS_Store
wiki/.DS_Store
img/.DS_Store

*.plist
_sass/_typography.scss
_posts/.Ulysses-favorites.plist
_posts/.Ulysses-favorites.plist
