---
layout: default
title: Articles
---
<div class="seg-line"></div>
<h1>{{ page.title }}</h1>

{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <div class="seg-line">
      <p class="seg-element mono-space uppercase project-year" id="y{{post.date | date: "%Y" }}">{{ currentdate }}</p></div>
    <ul class="article-list">
    {% assign date = currentdate %}
  {% endif %}
    <li><a href="{{site.baseurl}}{{ post.url }}"><h2>{{ post.title }}</h2></a></li>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}