---
layout: default
title: Johannes Klingebiel
---

<div class="row">
  <div class="column-100">
    {% include header.html %}
  </div>
</div>

<div class="row">
  <div class="column-25"><div class="seg-line resp-no-display"></div></div>
  <div class="column-50" id="intro-column">
  <div class="seg-line">
    <div class="uppercase mono-space seg-element">{{page.title}}</div>
  </div>
  <!--Intro-->
  <div class="intro">
    <p class="mono-space small uppercase">Hello, Hallo, Griaß di,</p>
    <h2>I am a designer and researcher currently working as a program manager at the <span class="small-caps">Media Lab Bayern</span><a class="no-decoration color" href="https://www.media-lab.de/">*</a> in Munich.</h2>
    <h2><a class="button uppercase small" href="{{site.baseurl}}/portfolio">My personal projects</a> are focussed on exploring possible futures for the news media.</h2>
    <h2>I write a <i>(German)</i> <a class="button uppercase small" href="https://www.getrevue.co/profile/klingebeil">Newsletter</a> and you can follow me on <a class="button uppercase small" href="https://twitter.com/Klingebeil">Twitter</a>, <a class="button uppercase small" href="https://www.are.na/johannes-klingebiel">Are.na</a>, or <a class="button uppercase small" href="https://www.instagram.com/klingebeil">Instagram</a>.</h2>
    <h2>We can also always <a class="button uppercase small" href="mailto:johannes.klingebiel@gmail.com">have a chat ✌🏻</a></h2>
    <div class="centered flex items-center">
      <img style="width: 50%; z-index: 100; transform: rotate(-8deg);" src="/img/portfolio/hype-field-guide/cfgh-00cover.png">
      <div style="color: #EFEFEF; background-color: #fd675e; padding: 10px 20px; border-radius: 20px; transform: rotate(4deg); margin-left: -30px;">
        <p class="mono-space small uppercase">My latest project</p>
      <h2>A small field guide on the uses and misuses of hype.</h2> 
      <p><a style="color: #fd675e" class="button uppercase small" href="{{site.baseurl}}/portfolio/a-field-guide-to-hype.html">Grab one!</a></p>
      </div>
    </div>
    
    <h2 style="color: #EFEFEF; background-color: #3863ff; padding: 20px; border-radius: 20px; transform: rotate(-3deg);">In 2021 I <a style="color: #0074df" class="button uppercase small" href="{{site.baseurl}}/portfolio/work-in-progress">published a zine</a> in German about my experiences and learnings from working in an innovation team for four years. ✨</h2>
  </div>

  <div class="seg-line">
    <div class="uppercase mono-space seg-element">Writing</div>
    <div class="uppercase mono-space button"><a href="feed.xml">RSS &#x279E;</a></div>
    <!--Article List-->
    <div class="article-list">
        {% for post in site.posts limit:8 %}
            <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}"><img src="{{site.baseurl}}/img/{{ post.teaser-img }}"><h2>{{ post.title }}, </h2></a>
        {% endfor %}<a id="btn-all-articles" class="button" href="{{site.baseurl}}/articles.html"> All Articles &#x279E;</a>
    </div>
  </div>
</div>

<div class="column-25"><div class="seg-line resp-no-display"></div></div>
</div>

{% include footer.html %}
</div>



