---
layout: default
title: Projects
---

<div class="row">
  <div class="column-100">
    {% include header.html %}
  </div>
</div>

<div class="row">

<div class="column-25">
  <div class="seg-line"></div>
  <div class="collection-description">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="seg-line"></div>
        <p class="mono-space small">Entries: 
          {% assign work_items = site.portfolio | sort: 'date' | reverse %}
            {{ work_items.size }}
          </p>
      <div class="seg-line resp-no-display"></div>
</div>

<div class="column-75">
  {% assign work_items = site.portfolio | sort: 'date' | reverse %}

  <div class="flex-list seg-line">
    {% for article in work_items %}
      {% unless article.path contains "index.html" %}
        <a class="card-50 flex-column justify-between portfolio-category-button hairline" href="{{ site.baseurl }}{{ article.url }}">
          <div class="flex justify-start" id="wiki-category-button-wrapper">
            <div class="seg-element mono-space project-year">{{ article.date | date: "%Y" }}</div>
            <div class="seg-element uppercase mono-space">{{ article.category }}</div>
            <div>
              <h2 class="project-title">{{ article.title }}</h2>
              <p>{{ article.summary }}</p>
            </div>
          </div>
          <img class="portfolio-teaser-img" src="{{site.baseurl}}/img/{{ article.teaser-img }}" alt="{{ article.title }} Teaser Image">
        </a>
      {% endunless %}
    {% endfor %}
    </div>
</div>
</div>

{% include footer.html %}
</div>