---
title: Zine — Work in Progress
---
<head>
    {% include work_in_progress_head.html %}

    <title>{{ page.title }}</title>

    {% include google-analytics.html %}
</head>
<body>
    <div class="content-wrapper">
        {% include header.html %}

        {% include bookup_work_in_progress.html %}
        <h1 class="centered">Work in Progress</h1>
        <p class="mono-space small uppercase centered">Special Project Zine</p>
        <p class="centered">Innovation ist ein merkwürdiger Begriff. Nicht nur beschreibt es einen Prozess und dessen Ergebnis, sondern auch zunehmend einen Wert. Kein Unternehmen der Welt würde sich vor seine Mitarbeiter stellen und mit voller Überzeugung sagen: „Wir wollen nicht innovativ sein!“</p>
        <p class="centered">Dennoch fehlt oft eine Perspektive. Es gibt viele Bücher und Artikel, die sich mit dem Prozess beschäftigen. Jenen Diagrammen und Workshops die für und von Managern geschrieben werden. Es fehlt aber eine Perspektive: die von Innen.</p>
        <p class="centered">Dieses Zine ist mein Versuch diese Perspektive zu geben und meine Erfahrungen im Innovationsteam der <span class="small-caps">Süddeutschen Zeitung</span> nicht nur für mich zu verfestigen, sondern auch für andere zugänglich zu machen.</p>
        <br>
        <div class="centered"><a class="button-disabled">Bestellen</a><a class="button-disabled">Download (5mb)</a></div>
        <p></p>
        {% include footer.html %}
</body>