---
title: Zine — Work in Progress
---
<head>
    {% include work_in_progress_head.html %}

    <title>{{ page.title }}</title>

    {% include google-analytics.html %}
</head>
<body>
    <div class="content-wrapper">
        {% include header.html %}

        {% include bookup_work_in_progress.html %}

        <h1 class="centered">Work in Progress</h1>
        <p class="mono-space small uppercase centered">Special Project Zine</p>
        <p class="centered">Lorem ipsum dolor sit amet, consetetur <span class="small-caps">Sadipscing elitr</span>, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <br>
        <div class="centered"><a class="button-disabled">Kaufen</a><a class="button-disabled">Download</a></div>

        {% include footer.html %}
</body>