<div class="row">
    <div class="column-100">
        <div class="footer uppercase mono-space seg-line">
            <div class="button"><a href="{{ site.baseurl }}/wiki/index.html">Digital Garden</a></div>
            <!--<div class="button"><a href="{{ site.baseurl }}/newsletter.html">Newsletter</a></div><div class="button"><a href="{{ site.baseurl }}/about.html">About</a></div>-->
            <div class="button"><a href="{{ site.baseurl }}/impressum.html">Impressum</a></div>
            <em class="mono-space small">Your data isn‘t collected on this website</em>
        </div>
    </div>
</div>