{% comment %}
Das ganze ist der Versuch im YAML verlinkte Notizen in Artikeln anzugeben, die anschließend ausgegeben werden am Ende des Posts. Funktioniert nur leider nicht.
{% endcomment %}
{% assign notes = page.linked-notes %}
<div class="seg-line color-green mono-space small uppercase sp-tp-medium sp-bt-small"><h1 class="small left">Linked Notes</h1></div>
<div id="notes-list" class="flex">
{% for note in notes %}
    {% assign link = site.pages | where_exp:"link", "link.path contains note"%}
    {% for item in link %}
        <a href="{{ site.baseurl }}{{item.url}}" class="card-50 wiki-category-button hairline">
            <h2 style="border-top: solid 1px;">{{item.title }}</h2>
        </a>
    {% endfor %}
{% endfor %}
</div>