{% comment %}
Das ganze ist der Versuch im YAML verlinkte Notizen in Artikeln anzugeben, die anschließend ausgegeben werden am Ende des Posts. Funktioniert nur leider nicht.
{% endcomment %}
{% assign notes = page.linked-notes %}
<div id="notes-list" class="flex">
{% for note in notes %}
    {% assign link = site.pages | where_exp:"link", "link.path contains note"%}
    {% for item in link %}
        <a class="notes-link" href="{{ site.baseurl }}{{item.url}}">
              <div class="notes hairline no-decoration card-50 bg-light-green shadow-green color-green">
                <div class="notes-content">
                  <div class="flex justify-between seg-line">
                    <div class="seg-element">
                      {% assign path_parts = item.path | split: "/" %}
                      <p class="mono-space small">{{ path_parts[1] }} / {{item.last-updated | date: "%Y"}}</p>
                      <p class="card-title">{{item.title}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
    {% endfor %}
{% endfor %}
</div>