<div id="newsletter-embed">
    <div id="newsletter-teaser">
        <p class="mono-space small">Mein etwas unregelmäßiger Newsletter rund um <i>Technologie, Internet, Publishing</i> und <i>Merkwürdiges</i>.</p>
    </div>
    <div id="revue-embed" class="mono-space">
        <form action="https://www.getrevue.co/profile/klingebeil/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
        <div class="revue-form-group">
        <input class="revue-form-field" placeholder="Deine E-Mail..." type="email" name="member[email]" id="member_email">
        </div>
        <div class="revue-form-actions">
            <input type="submit" value="Abonnieren" name="member[subscribe]" id="member_submit">
            <a class="small" href="https://www.getrevue.co/profile/klingebeil">Vorher lesen &#x279E;</a>
        </div>
        </form>
    </div>
</div>