<!--<script src="/sidenotes.js" type="module"></script>-->
<script type="text/javascript">
/**
 * @author: Kaushik Gopal
 *
 * A jQuery function that displays the footnotes
 * on the side (sidenotes) for easier reading.
 *
 * This is as recommended by Edward Tufte's style sidenotes:
 * https://edwardtufte.github.io/tufte-css/#sidenotes
 *
 * TODO:
 *      - if two subsequent lines have long sidenotes
 *        need to take care of the overlap properly and offset
 **/
(function () {
    const $footnotes = $(".footnotes"),
        sideNoteStartMargin = 2,
        sideNoteMaxWidth = 250,
        sideNoteMinWidth = 50;

    $(window).on("load", function () {


        // don't run this script if there aren't any footnotes
        if ($footnotes.length < 1) {
            return;
        }

        loadSideNotesFromFootnotes();

        $(window).resize(function () {
            // console.log(" XXX -- RESIZE -- XXX ");

            // TODO: optimization if window width doesn't change that much
            // const new_ww = $(".wrapper").outerWidth();
            // if (new_ww === windowWidth) return;
            // windowWidth = new_ww;

            loadSideNotesFromFootnotes();
        });
    });

    function loadSideNotesFromFootnotes() {

        const $postTitle = $(".article-wrapper");
        // console.log($postTitle); // Log $postTitle to check its value

        const browserWidth = $(".column-100").width();
        // console.log("---> browserWidth: " + browserWidth) // Log browserWidth
        // console.log("---> $postTitle.position().left: " + $postTitle.position().left)
        // console.log("---> $postTitle.outerWidth(): " + $postTitle.outerWidth())
        // const startPosition = $postTitle.position().left + $postTitle.outerWidth() + sideNoteStartMargin;
        const startPosition = $postTitle.position().left + $postTitle.width() + sideNoteStartMargin;
        // console.log("---> startPosition: " + startPosition) // Log startPosition
       
        $(".sidenote").remove(); // remove any existing side notes to begin
        $footnotes.show();  // previous resize could have hidden footnotes

        //#region Should we even show sidenotes?

        //#region there's no post-content
        if ($postTitle.length < 1) {
            return;
        }
        //#endregion

        //#region there's no space for sidenotes
        const availabeSpaceForSideNote = browserWidth - startPosition;

        // console.log(" ---> availabeSpaceForSideNote " + availabeSpaceForSideNote);
        // console.log(" ---> sideNoteWidth [" + sideNoteMinWidth + " to " + sideNoteMaxWidth + "]");

        if (availabeSpaceForSideNote < sideNoteMinWidth) {
            console.log("Not enough space");
            return;
        }
        //#endregion

        //#endregion

        const $fnItems = $footnotes.find("ol li");

        $("sup").each(function (index) {
            const $footnoteHtml = $fnItems.eq(index).html();
            const footnoteNumber = index + 1;
            createSideNote($(this), $footnoteHtml, startPosition, footnoteNumber);
        });

        $footnotes.hide();
    }

    function createSideNote(superscript, footnoteHtml, startPosition, footnoteNumber) {

        console.log(" ---> " + superscript.text() + " : " + footnoteHtml);

        // construct side note <div>
        let div = $(document.createElement('div'))
            .html('<sup class="footnote-number">' + footnoteNumber + '</sup>' + footnoteHtml)
            .addClass("sidenote mono-space small color-dark-gray");

        const topPosition = superscript.offset();
        console.log (" ---> topPosition:" + topPosition.top);
        

        div.css({
            position: "absolute",
            left: startPosition,
            top: topPosition["top"],
            minWidth: sideNoteMinWidth,
            // maxWidth: sideNoteMaxWidth,
        });

        /*if (startPosition > 420) {
            superscript.hover(function () {
                div.addClass("sidenote-hover");
            }, function () {
                div.removeClass("sidenote-hover");
            });
        } else {
            div.addClass("sidenote-hover");
        }*/

        // Check for collision with existing side notes
        $(".sidenote").each(function() {
            const existingTop = $(this).offset().top;
            const existingBottom = existingTop + $(this).outerHeight();
            const newTop = topPosition.top;
            const newBottom = newTop + div.outerHeight();

            // Adjust vertical position if collision detected
            if ((newTop >= existingTop && newTop <= existingBottom) || (newBottom >= existingTop && newBottom <= existingBottom)) {
                const newTopOffset = existingBottom + 10; // Add extra spacing
                div.css("top", newTopOffset);
            }
        });


        // console.log(" ---> ");

        // attach side note <div>
        $(document.body).append(div);
    }

})();
</script>