---
layout: wiki
title: Digital Garden
---

<div class="row">
  <div class="column-100">
    {% include header_wiki.html %}
  </div>
</div>
<div class="row">
  <div class="column-100">
    {% include wikibreadcrumb.html %}

    {% assign folders = site.pages | where_exp:"item", "item.path contains 'wiki'" %}
    {% assign wikifolders = "" | split:"" %}
    {% for folder in folders %}
      {% assign tempvar = folder.path | split:"/" %}
      {% assign wikifolders = wikifolders | push:tempvar[1] %}
    {% endfor %}
    
    {% assign wikifolders = wikifolders | uniq | sort %}

    <div id="topic-list">
      <div class="category-button" id="intro-button" style="background-color: #5CBE74; color: white; box-shadow: 0px 0px 0px rgba(118, 188, 123, 0.04),0px 1px 2px rgba(118, 188, 123, 0.08),0px 2px 4px rgba(118, 188, 123, 0.12),0px 3px 6px rgba(118, 188, 123, 0.16),0px 5px 10px rgba(118, 188, 123, 0.20);">
        <div class="serif" id="category-button-wrapper">
          <h1>This is my personal digital garden, inspired by the work of so many others. </h1>
          <p>This garden is a loose collections of notes and ideas I tend to return to. It works as a quick refernce guide, a way of collecting unfinished ideas and a ressource for others.</p>
        </div>
      </div>
      {% for folder in wikifolders %}
        {% assign currentFolder = folder %}
        {% assign folderCount = site.pages | where_exp:"item", "item.path contains currentFolder"%}
        {% unless folder contains 'md' or folder contains 'html' %}
          <a class="category-button hairline" href="/wiki/{{folder}}/">
            <div class="flex" id="category-button-wrapper">
              <h1 id="category-title">{{folder}}</h1>
              <p class="mono-space" id="note-count">{{folderCount | size | minus:1}}</p>
            </div>
            <img src="{{folder}}/teaser-img.png">
          </a>
        {% endunless %}
      {% endfor %}
    </div>
  </div>
</div>

{% include footer.html %}