---
layout: wiki
title: Digital Garden
---

<div class="row">
  <div class="column-100">
    {% include header_wiki.html %}
  </div>
</div>

<div class="row">
  <div class="column-50">
    {% include wikibreadcrumb.html %}
    <div class="intro">
      <blockquote>I am committed to tending to this world as a gardener. I am committed to cultivating new shoots, new stories, new hopes, new futures. I do this work with dirt under my nails, with curiosity, reverence and respect.<br><br>—<i>Georgina Reid</i></blockquote><br>
      <p>This is my personal digital garden, inspired by the work of so many others. This garden is a loose collections of notes and ideas I tend to return to. It works as a quick refernce guide, a way of collecting unfinished ideas and a ressource for others.</p>
      <p>As such, it is currently focussed around my current work in the innovation team at the <i>Süddeutsche Zeitung</i>.</p>
    </div>
  </div>
  <div class="column-50">
    <div class="seg-line color-green">
      <div class="seg-element mono-space uppercase">Topics</div>
    </div>
    {% assign folders = site.pages | where_exp:"item", "item.path contains 'wiki'" %}
    {% assign wikifolders = "" | split:"" %}
    
    {% for folder in folders %}
      {% assign tempvar = folder.path | split:"/" %}
      {% assign wikifolders = wikifolders | push:tempvar[1] %}
    {% endfor %}
    
    {% assign wikifolders = wikifolders | uniq | sort %}
    
    <div id="topic-list">
    {% for folder in wikifolders %}
      {% unless folder contains 'md' or folder contains 'html' %}
          <a class="button capitalize color-green" href="/wiki/{{folder}}/"><div>{{folder}}</div></a>
      {% endunless %}
    {% endfor %}
    </div>
    
    <div class="seg-line color-green">
      <div class="seg-element mono-space uppercase">All notes</div>
    </div>
    <div id="allnotes-list" class="mono-space">
    {% assign folder1 = site.pages | where_exp: "item" , "item.path contains 'wiki'" | sort:"path" %}
    {% for item in folder1 %}
      <p><a href="{{ item.url }}">{{item.path}}</a></p>
    {% endfor %}
    </div>
  </div>
</div>

<div class="row">
  <div class="column-100">
    {% include footer.html %}
  </div>
</div>