// CSS for Typography
/* -- TYPOGRAPHY -- */

@font-face { font-family: 'calendas'; src: url('../fonts/calendas_plus-webfont.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face { font-family: 'calendas'; src: url('../fonts/calendas_plus_italic-webfont.ttf') format('truetype');font-weight: normal; font-style: italic;}
@font-face { font-family: 'calendas'; src: url('../fonts/calendas_plus_bold-webfont.ttf') format('truetype'); font-weight: bold; font-style: normal;}

@font-face { font-family: 'mono-space'; src: url('../fonts/RobotoMono-Regular.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face { font-family: 'mono-space'; src: url('../fonts/RobotoMono-Bold.ttf') format('truetype'); font-weight: bold; font-style: normal;}

/* -- VARIABLES -- */
$font-small: 0.7em;
$font-micro: 0.4em;
$serif: calendas, Times, Serif;
$mono-space: mono-space, 'Courier New', Courier, monospace;


body {
	font-family: $serif;
	font-feature-settings: "liga" 1, "calt" 1, "kern" 1;
	color: $main-txt-color;
}

/* -- TYPOGRAPHY MODIFIERS -- */
.color {
	color: $contrast-color !important;
}

.color-green {
	color: $contrast-green !important;
}

.color-dark-gray {
	color: $dark-grey !important;
}

.color-light-gray {
	color: $light-grey !important;
}

.color-text {
	color: $main-txt-color !important;
}


.uppercase {
	text-transform: uppercase;
	font-variant-numeric: lining-nums;
}

.capitalize {
	text-transform: capitalize;
}

.mono-space {
	font-family: $mono-space;
}

.serif {
	font-family: $serif;
}

em, i, .italics {
	font-style: italic;
	font-family: $serif;
}

b, strong, .bold {
	font-weight: bold;
}

.label {
	font-size: $font-small;
	font-weight: normal !important;
	border: 1px solid;
	border-radius: 5px;
	padding: 1px 3px;
	font-variant-numeric: lining-nums;
	text-transform: uppercase;
	font-family: $mono-space;
}

.regular {
	font-family: $serif;
	font-weight: 100;
}

.small {
	font-size: $font-small;
}

.micro {
	font-size: $font-micro;
}

.small-caps {
	text-transform: lowercase;
	font-variant: small-caps;
}

.centered {
	text-align: center !important;
}

.justified {
	text-align: justify !important;
	hyphens: auto;
}

.no-decoration {
	text-decoration: none !important;
}

h1 {
	font-weight: 100;
	line-height: 1.4em;
	font-feature-settings: "liga" 1, "calt" 1, "kern" 1, "swsh" 1;
}

h2 {
	font-weight: 100;
	line-height: 1.4em;
}

h3 {
	font-size: $font-small;
	text-transform: uppercase;
	letter-spacing: .5px;
	font-family: $mono-space;
	font-weight: 100;
	margin-top: 36px;
}

p, span, div, blockquote, li, ol, ul {
    overflow-wrap: break-word;
    word-wrap: break-word;
	line-height: 1.4em;
	
	//HYPHEN MESS

	-webkit-hyphens: auto;
     -webkit-hyphenate-limit-before: 3;
     -webkit-hyphenate-limit-after: 3;
     -webkit-hyphenate-limit-chars: 6 3 3;
     -webkit-hyphenate-limit-lines: 2;
     -webkit-hyphenate-limit-last: always;
     -webkit-hyphenate-limit-zone: 8%;
     -moz-hyphens: auto;
     -moz-hyphenate-limit-chars: 6 3 3;
     -moz-hyphenate-limit-lines: 2;
     -moz-hyphenate-limit-last: always;
     -moz-hyphenate-limit-zone: 8%;
     -ms-hyphens: auto;
     -ms-hyphenate-limit-chars: 6 3 3;
     -ms-hyphenate-limit-lines: 2;
     -ms-hyphenate-limit-last: always;
     -ms-hyphenate-limit-zone: 8%;
     hyphens: auto;
     hyphenate-limit-chars: 6 3 3;
     hyphenate-limit-lines: 2;
     hyphenate-limit-last: always;
     hyphenate-limit-zone: 8%;
}

a {
    font-weight: inherit;
	color: inherit;
}

code {
	font-family: $mono-space;
	font-size: 0.9em;
	padding: 5px 5px 5px 10px;
	display: block;
	margin-right: 10px;
	background-color: $light-grey;
    border-radius: 5px;
}

blockquote:not(.twitter-tweet) {
	padding: 20px;
    margin-left: 5px;
	margin-top: 18px;
	margin-inline-end: 10px;
    border-left: 1px solid $dark-grey;
	background-color: $light-grey;

	& b, strong {
		font-family: $serif;
		font-weight: 100;
		background-color: $light-yellow;
	} 

	& p {
		margin: 0px !important;
	}

	& p:first-child::before {
		color: $dark-grey;
		content: "“";
		display: inline-block;
		margin-left: -0.7em;
		padding-right: 0.07em;
		text-align: right;
		width: 0.7em;
	}

	& p:last-child::after {
		break-before: avoid;
		color: $dark-grey;
		margin-left: 0.1em;
		content: "”";
	}
}

hr {
	overflow: visible; /* For IE */
	margin: 40px 0px 10px 0px;
    padding: 0;
    border: none;
    color: inherit;
    text-align: center;
}

hr:after {
    content: "***";
    display: inline-block;
    position: relative;
    font-size: 1.5em;
}

li {
	margin-top: 1em;
}

/* -- ARTICLE CSS -- */

.article-wrapper {
    font-size: 18px;

	p {
		text-align: justify;
		text-justify: newspaper;
		margin: 24px 0px 0px 0px;
	}

	// p margin modifiers

	h3 + p {margin-top: 18px;}

	// header styles

	h1 {
		text-align: center;
		margin-bottom: 36px;
		hyphens: none;
	}

	h2 { 
		margin-top: 36px;
		hyphens: none;
	}

	ul , ol {
		margin: 24px 8px 24px 8px;
		padding-left: 16px;
	}

	a {
		text-decoration: underline;
	}

	i, em {
		font-style: normal;
		font-family: $serif;
		text-transform: lowercase;
		font-variant: small-caps;
	}

	blockquote p {
		text-align: left;
	}

	@media screen and (max-width: 650px) {
		p {text-align: left;}
	}
}

#post-title {
    margin: 30px 20px 0px 20px;

}

#post-subtitle {
    margin: 30px 0px 50px 0px;
}

#markdown-toc {
	padding-inline-start: 30px;
	background-color: $light-grey;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 10px;

	ol {
		padding-inline-start: 20px;
	}

	li::marker {
		font-variant-numeric:lining-nums;
	}
}

#markdown-toc::before {
	content: 'Table of Contents';
	display: inline-block;
	text-transform: uppercase;
	font-size: $font-small;
	font-family: $mono-space;
}

/* WIKI TYPOGRAPHY */@at-root

.wiki {
	h1 {
		text-align: left;
		padding-bottom: 16px;
		border-bottom: 1px solid $contrast-green;
	}
}


/* FOOTNOTES */

sup {
	font-size: 8px;
	margin-left: 3px;
	vertical-align: text-top;
	color: $contrast-color;
	font-family: $mono-space;
}
.footnotes {
	border-top: solid 1px currentColor;
	font-size: $font-small;
	margin-top: 100px;
	padding-bottom: 10px;
	font-family: $mono-space;
	color: $dark-grey;

	@media (max-device-width: 1020px) { font-size: 0.9em;}

	& ol {
		counter-reset: list;
	}

	& ol > li {
		list-style: none;
		position: relative;
	}

	& ol > li:before {
		content: "[" counter(list) "] ";
    	counter-increment: list;
		color: $contrast-color;
		font-size: $font-small;

		left: -40px;
		padding-right: 10px;
		position: absolute;
		text-align: right;
		width: 40px;
	}

	& p {
		text-align: left !important;
	}
}
  
.footnotes p {
	margin: 10px;
  }
  
a.footnote {
	text-decoration: none;
}

a.footnote:before {
   content: "[";
  }
  
a.footnote:after {
	  content: "]";
  }