@use "sass:color";

// COLOR VARIABLES
$main-txt-color: rgba(29, 29, 29, 1);
$red: rgba(253, 103, 94, 1);
$light-red: color.scale($red, $lightness: 90%); //rgba(255, 231, 230, 1);
$light-grey: color.scale($main-txt-color, $lightness: 90%); //rgba(230, 230, 230, 1);
$dark-grey: color.scale($main-txt-color, $lightness: 40%); //rgba(142, 155, 157, 1);
$light-yellow: rgba(255, 241, 122, 1);
$background: rgba(239, 239, 239, 1);
$white: rgba(255, 255, 255, 1);
$green: rgb(92, 190, 116);
$light-green: color.scale($green, $lightness: 90%); //rgba(237, 248, 239, 1);
$purple: rgba(133, 90, 224, 1);
$blue: rgba(56, 99, 255, 1);
$light-blue: color.scale($blue, $lightness: 90%);

//TYPOGRAPHY VARIABLES
$font-small: 0.7em;
$font-micro: 0.5em;
$font-normal: 1em;
$font-big: 1.3em;
$serif: calendas, Times, Serif;
$mono-space: mono-space, 'Courier New', Courier, monospace;
$side-note-spacing: 300px;

// SPACING VARIABLES
$spacing-micro: 0.5rem;
$spacing-small: 1rem;
$spacing-medium: 4rem;
$spacing-large: 8rem;

// BORDER RADIUS
$border-radius: 0.5em;
$border-radius-btn: 4em;
$border-radius-small: 0.3em;