
// COLOR VARIABLES
$main-txt-color: rgb(29, 29, 29);
$contrast-primary: rgb(253, 103, 94);
$light-grey: rgb(230, 230, 230);
$dark-grey: rgb(142, 155, 157);
$light-yellow: rgb(255, 241, 122);
$background: rgb(239, 239, 239);
$white: rgb(255, 255, 255);
$contrast-green: rgb(92, 190, 116);
$contrast-purple: rgb(133, 90, 224);

//TYPOGRAPHY VARIABLES
$font-small: 0.7em;
$font-micro: 0.5em;
$font-normal: 1em;
$font-big: 1.3em;
$serif: calendas, Times, Serif;
$mono-space: mono-space, 'Courier New', Courier, monospace;
$side-note-spacing: 300px;