
// COLOR VARIABLES
$main-txt-color: rgba(29, 29, 29, 1);
$red: rgba(253, 103, 94, 1);
$light-red: rgba(255, 231, 230, 1);
$light-grey: rgba(230, 230, 230, 1);
$dark-grey: rgba(142, 155, 157, 1);
$light-yellow: rgba(255, 241, 122, 1);
$background: rgba(239, 239, 239, 1);
$white: rgba(255, 255, 255, 1);
$green: rgba(92, 190, 116, 1);
$light-green: rgba(237, 248, 239, 1);
$purple: rgba(133, 90, 224, 1);

//TYPOGRAPHY VARIABLES
$font-small: 0.7em;
$font-micro: 0.5em;
$font-normal: 1em;
$font-big: 1.3em;
$serif: calendas, Times, Serif;
$mono-space: mono-space, 'Courier New', Courier, monospace;
$side-note-spacing: 300px;

// SPACING VARIABLES
$spacing-small: 1rem;
$spacing-medium: 4rem;
$spacing-large: 8rem;