---
layout: default
---

Portfolio

{% assign folders = site.pages | where_exp:"item", "item.path contains 'portfolio'" %}
{% assign portfoliofolders = "" | split:"" %}

{% for folder in folders %}
  {% assign tempvar = folder.path | split:"/" %}
  {% assign portfoliofolders = portfoliofolders | push:tempvar[1] %}
{% endfor %}

{% assign portfoliofolders = portfoliofolders | uniq | sort %}

<div id="portfolio_list">
{% for folder in portfoliofolders %}
  {% unless folder contains 'md' or folder contains 'html' %}
      <a href="{{ site.baseurl }}/portfolio/{{folder}}/"><div class="capitalize topic">{{folder}}</div></a>
  {% endunless %}
{% endfor %}