---
layout: default
title: Series
---

<div class="seg-line"></div>

<h1 class="centered">{{page.title}}</h1>
<p class="centered">Series in progress:</p>

{% assign collection = site.pages | where_exp: "item" , "item.path contains 'series'" | where_exp: "item" , "item.path contains '.md'"  %}

{% for item in collection %}
    <a class="no-decoration" href="{{ site.baseurl }}{{item.url}}">
        <div class="series-block">
            <p>{{item.title}}</p> 
            {%if item.subtitle%}<p class="mono-space small uppercase">{{item.subtitle}}</p>{% endif %}
        </div>
    </a>
{% endfor %}