<!DOCTYPE html>
<head>
    {% include default_head.html %}
    {% include wiki_head.html %}
    <title>{{ page.title }}</title>
</head>
<body>

    <div class="row">
        <div class="column-100">
          {% include header_wiki.html %}
        </div>
      </div>
      
      <div class="row">
        <div class="column-25 book-info">
          <div class="seg-line color-green"></div>
          <div id="breadcrumbs"><p><a class="button color-green capitalize" href="/wiki/Bookshelf">back to bookshelf</a></p></div>
          <div class="seg-line color-green"></div>
          <p class="small mono-space color-green">TITLE:</p>
          <p class="color-green">{{page.title}}</p>
          <div class="seg-line color-green"></div>
          <div class="flex">
            {% if page.cover %}
              <div class="cover-image color-green"><img src=/img/bookshelf/{{page.cover}}></div>
            {% endif %}
            <div class="flex-column w-100">
              <p class="mono-space small color-green">AUTHOR: {{page.author}}</p>
              <div class="seg-line color-green"></div>
              <p class="mono-space small color-green">PUBLISHER: {{page.publisher}}</p>
              <div class="seg-line color-green"></div>
              <p class="mono-space small color-green">YEAR: {{page.year}}</p>
              <div class="seg-line color-green"></div>
              <p class="mono-space small color-green">CATEGORY: {{page.category}}</p>
            </div>
          </div>
          <div class="seg-line color-green"></div>
          <p class="mono-space small color-green">Please consider buying your books locally.</p>
          <div class="seg-line color-green resp-no-display"></div>
        </div>
        <div class="column-50">
            <div class="seg-line color-green"></div>
            <p class="mono-space small color-green">NOTES:</p>
            <div class="seg-line color-green"></div>
            {{ content }}
        </div>
        <div class="column-25"><div class="seg-line color-green resp-no-display"></div></div>
      </div>
    
    {% include footer.html %}
</body>