<!DOCTYPE html>
<head>
    {% include default_head.html %}
    {% include wiki_head.html %}
    <title>{{ page.title }}</title>
</head>
<body>

    <div class="row">
        <div class="column-100">
          {% include header_wiki.html %}
        </div>
      </div>
      
      <div class="row">
        <div class="column-25">
          <div class="seg-line color-green"></div>
          <div class="button color-green capitalize" id="breadcrumbs"><a href="/wiki/Bookshelf">back to bookshelf</a></div>
          <div class="seg-line color-green"></div>
          <div class="cover-image"><img src=/img/bookshelf/{{page.cover}}></div>
          <div class="seg-line color-green"></div>
          <p class="mono-space small color-green">AUTHOR: {{page.author}}</p>
          <div class="seg-line color-green"></div>
          <p class="mono-space small color-green">PUBLISHER: {{page.publisher}}</p>
          <div class="seg-line color-green"></div>
          <p class="mono-space small color-green">YEAR: {{page.year}}</p>
          <div class="seg-line color-green"></div>
          <p class="mono-space small color-green">Please consider buying your books locally.</p>
          <div class="seg-line color-green resp-no-display"></div>
        </div>
        <div class="column-50">
            <div class="seg-line color-green"></div>
            <h1 class="centered">{{ page.title }}</h1>
            {{ content }}
        </div>
        <div class="column-25"><div class="seg-line color-green"></div></div>
      </div>
    
    {% include footer.html %}
</body>