<!DOCTYPE html>
<html lang={% if page.language %}"{{page.language}}"{% else %}"eng"{% endif %}>
{% assign folderfilter = page.path | replace: "/index.html" , "" %}
<head>
  {% include default_head.html %}
  {% include wiki_head.html %}
  <title>{{ page.title }}</title>
</head>
<body>

  <div class="row">
    <div class="column-100">
      {% include header_wiki.html %}
    </div>
  </div>

  <div class="row">
    <div class="column-25">
      {% include wikibreadcrumb.html %}
      <div class="seg-line color-green"></div>
      <div class="collection-description color-green">
        <h1>{{page.title}}</h1>
        {{content}}
      </div>
      <div class="seg-line color-green"></div>
      <p class="mono-space small color-green">Entries: {% assign notes = site.pages | where_exp: "item" , "item.path contains folderfilter" | reverse %}{{ notes.size | minus:1 }}</p>
      <div class="seg-line color-green resp-no-display"></div>
    </div>

    <div class="column-75 flex-column book-list">
      {% assign notes = site.pages | where_exp: "item" , "item.path contains folderfilter" | reverse %}

      {% assign snippets = site.static_files | where_exp: "item" , "item.path contains folderfilter" %}
      {% for item in notes %}
          {% unless item.path contains "index.html" %}
              <a class="book no-decoration flex" href="{{ site.baseurl }}{{ item.url }}" style="background-color: {{ item.color-spine }}; color: {{ item.color-text }}">
                <aside class="mono-space uppercase book-category small">{{ item.category }}</aside>
                <div class="title-author">
                  <h2 class="no-decoration">{{item.title }}</h2>
                  <p class="mono-space small no-decoration">by {{item.author}}</p>
                </div>
                <aside class="uppercase book-category small">{{ item.publisher }}</aside>
              </a>
          {% endunless %}
      {% endfor %}
    </div>
  </div>

{% include footer.html %}
</body>
</html>