<!DOCTYPE html>
<head>
    {% include default_head.html %}
    {% include portfolio_head.html %}

    <title>{{ page.title }}</title>

    {% include google-analytics.js %}
</head>
<body>
    <div class="row">
        <div class="column-100">
          {% include header.html %}
        </div>
    </div>

    <div class="row">
        <div class="column-25"><div class="seg-line resp-no-display"></div></div>
        <div class="column-50">
            <div class="seg-line uppercase mono-space">
                <p class="seg-element">Portfolio</p>
                {% if page.date %}
                <p class="seg-element">{{ page.date | date: "%Y" }}</p>
                {% endif %}
            </div>
            <div class="article-wrapper">
                {{ content }}
            </div>
        </div>
        <div class="column-25"><div class="seg-line resp-no-display"></div></div>
    </div>

    <div class="row">
        <div class="column-100">
            {% include footer.html %}
        </div>
    </div>
</body>