<!DOCTYPE html>
<html lang={% if page.language %}"{{page.language}}"{% else %}"eng"{% endif %}>
<head>
    {% include default_head.html %}
    {% include portfolio_head.html %}

    <title>{{ page.title }}</title>
</head>
<body>
    <div class="row">
        <div class="column-100">
          {% include header.html %}
        </div>
    </div>

    <div class="row">
        <div class="column-25 mono-space small">
            <div class="seg-line"></div>
            <p><a class="button" href="/portfolio">PORTFOLIO</a> / {{page.title}}</p>
            {% if page.date %}
                <div class="seg-line_dotted"></div>
                <p>PUBLISHED: {{ page.date | date: "%d.%m.%Y" }}</p>
            {% endif %}
            <div class="seg-line_dotted"></div>
            <p>CATEGORY: {{ page.category | capitalize }}</p>
            {% if page.toc == true %}
                {% include java-toc.html %}
            {% else %}
            <div class="seg-line resp-no-display"></div>
            {% endif %}
        </div>
        <div class="column-75">
            <div class="seg-line uppercase mono-space">
            </div>
            <div class="article-wrapper" role="article">
            {% if page.meta-data %}
            <div class="meta-section row sp-bt-medium">
                {% for item in page.meta-data %}
                <div class="meta-block sp-r-medium">
                    <p class="meta-title mono-space uppercase micro color-light-grey left">{{ item[0] | replace: "-", " " }}</p>
                    <p class="meta-content mono-space micro color-dark-grey left">{{ item[1] }}</p>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <h1 class="left pd-l-small">{{ page.title }}</h1>
            {{ content }}
            </div>
        </div>
    </div>

    {% include footer.html %}
    {% include sidenotes.html %}
</body>
</html>