<!DOCTYPE html>
<head>
    {% include default_head.html %}
    {% include portfolio_head.html %}

    <title>{{ page.title }}</title>

    {% include google-analytics.js %}
</head>
<body>
    <div class="row">
        <div class="column-100">
          {% include header.html %}
        </div>
    </div>

    <div class="row">
        <div class="column-25 mono-space small">
            <div class="seg-line"></div>
            <p>PORTFOLIO</p>
            {% if page.date %}
                <div class="seg-line_dotted"></div>
                <p>PUBLISHED: {{ page.date | date: "%d.%m.%Y" }}</p>
            {% endif %}
            <div class="seg-line resp-no-display"></div></div>
        <div class="column-50">
            <div class="seg-line uppercase mono-space">
            </div>
            <div class="article-wrapper">
                {{ content }}
            </div>
        </div>
        <div class="column-25"><div class="seg-line resp-no-display"></div></div>
    </div>

    {% include footer.html %}
</body>