<!DOCTYPE html>
<head>
    {% include default_head.html %}
    {% include post_head.html %}
    <title>{{ page.title }}</title>
    {% include google-analytics.js %}
</head>
<body>
    <div class="row">
        <div class="column-100">
          {% include header.html %}
        </div>
    </div>

    <div class="row">
        <div class="column-25 mono-space small">
            <div class="seg-line"></div>
            <p><a class="button" href="/articles">Writing</a> / {{page.title}}</p>
            <div class="seg-line_dotted"></div>
            <p>PUBLISHED: {{ page.date | date: "%d.%m.%Y" }}</p>
            <div class="seg-line_dotted"></div>
            <p>{% assign words = content | number_of_words %}{{words}} words — {{ words | divided_by:180 }} mins</p>
            {% if page.series %}
                <div class="seg-line "></div>
                <p class="color mono-space">This article is part of the <a href="{{ site.baseurl }}/series/{{page.series}}.html">{{page.series | replace:'-',' ' | upcase }}</a> series.</p>
            {% endif %}
            <div class="seg-line resp-no-display"></div>
        </div>
        <div class="column-50">
            <div class="seg-line uppercase mono-space">
            </div>
            <div class="article-wrapper" role="article">
                
                {% if page.teaser-img %}
                    {% include img-small.html id=page.teaser-img  alt=""%}
                {% endif %}
    
                <h1 id="post-title">{{ page.title }}</h1>
                {% if page.subtitle %}
                    <p id="post-subtitle" class="centered italics">{{ page.subtitle }}</p>
                {% endif %}
                {{ content }}
    
            </div>
        </div>
        <div class="column-25">
            <div class="seg-line resp-no-display"></div>
        </div>
    </div>

    {% include footer.html %}
</body>