<!DOCTYPE html>
<html>
  <head>
    {% include default_head.html %}
    {% include post_head.html %}
    <title>{{ page.title }}</title>
  </head>
  <body>

    <div class="row">
      <div class="column-100">
        {% include header.html %}
      </div>
    </div>

    <div class ="row">
      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          <p>
          {% if paginator.paginated %}
            <a class="button" href="{{ paginator.single_page }}">View as a single page</a>
          {% elsif paginator %}
            <a class="button" href="{{ paginator.first_path }}">View as {{ paginator.total_pages }} pages</a>
          {% endif %}
          </p>

          <!-- CONTENTS ON STATIC COMPLETE PAGE -->
          {% unless paginator.paginated %}
            {% if paginator.toc.simple %}
              <div class="slides-contents mono-space">
                {{ paginator.toc.simple | markdownify }}
              </div>
            {% endif %}
          {% endunless  %}

          <!-- CONTENT ON TOP OF SLICES-->
          {% if paginator.paginated and paginator.toc.simple %}
            <div class="slides-contents mono-space">
              {{ paginator.toc.simple | markdownify }}
            </div>
          {% endif %}

          <div class="slides-content-wrapper">
          {{ content }}
          </div>

          <div class="slides-nav">
          {% if paginator.previous_section %}
            {% assign prev = paginator.previous_section %}
            {% if prev == "Untitled" %}
              {% assign prev = "Previous"%}
            {% endif %}
            <a class="button mono-space uppercase" href="{{ paginator.previous_path }}">&#8672; {{ prev }}</a>
          {% endif %}
          {% if paginator.previous_section and paginator.next_section %}{% endif %}

          {% if paginator.next_section %}
            {% assign next = paginator.next_section %}
            {% if next == "Untitled" %}
              {% assign next = "Next"%}
            {% endif %}

            <a class="button mono-space uppercase" href="{{ paginator.next_path }}">{{ next }} &#8674;</a>
          {% endif %}
          </div>

        </div>
      </main>
    </div>

    {% include footer.html %}

  </body>

</html>