<!DOCTYPE html>
{% assign folderfilter = page.path | replace: "/index.html" , "" %}
<head>
  {% include default_head.html %}
  {% include wiki_head.html %}
  <title>{{ page.title }}</title>
</head>
<body>

  <div class="row">
    <div class="column-100">
      {% include header_wiki.html %}
    </div>
  </div>
  
  <div class="row">
    <div class="column-25">
      {% include wikibreadcrumb.html %}
      <div class="seg-line color-green"></div>
      <div class="collection-description color-green">
        <h1>{{page.title}}</h1>
        {{content}}
      </div>
      <div class="seg-line color-green"></div>
      <p class="mono-space small color-green">Entries: {% assign notes = site.pages | where_exp: "item" , "item.path contains folderfilter" | reverse %}{{ notes.size | minus:1 }}</p>
      <div class="seg-line color-green resp-no-display"></div>
    </div>
    <div class="column-75">
      {% assign notes = site.pages | where_exp: "item" , "item.path contains folderfilter" | reverse %}

      {% assign snippets = site.static_files | where_exp: "item" , "item.path contains folderfilter" %}

      <div id="notes-list" class="flex">
      {% for item in notes %}
          {% unless item.path contains "index.html" %}
              <div class="notes">
                <div class="mono-space button capitalize color-green"><a href="{{ site.baseurl }}{{item.url}}">{{item.title }}</a></div>
                <div class="notes_content">{{ item.content | markdownify | truncate: 500 }}</div><p class="button mono-space small color"><a href="{{ site.baseurl }}{{item.url}}">READ ➞</a></p>
              </div>
          {% endunless %}
      {% endfor %}
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
</body>