<!DOCTYPE html>
{% assign folderfilter = page.path | replace: "/index.html" , "" %}
<head>
  {% include default_head.html %}
  {% include wiki_head.html %}
  <title>{{ page.title }}</title>
  {% include google-analytics.html %}
</head>
<body>
  <div class="content-wrapper">
    {% include header_wiki.html %}
    {% include wikibreadcrumb.html %}
    <p class="intro">{{content}}</p>

    <div>
    {% assign notes = site.pages | where_exp: "item" , "item.path contains folderfilter" | reverse %}

    {% assign snippets = site.static_files | where_exp: "item" , "item.path contains folderfilter" %}

    <ul id="notes-list">
    {% for item in notes %}
        {% unless item.path contains "index.html" %}
            <li class="notes">
              <p class="mono-space" id="notes-link"><a href="{{ site.baseurl }}{{item.url}}">{{item.path | replace: folderfilter , ""}}</a></p>
              <div class="notes_content">{{ item.content | markdownify }}</div>
            </li>
        {% endunless %}
    {% endfor %}
    </ul>

    </div>
    {% include footer.html %}
  </div>
</body>