<!DOCTYPE html>
<head>
    {% include default_head.html %}
    {% include wiki_head.html %}
    <title>{{ page.title }}</title>
    {% include google-analytics.js %}
</head>
<body>

    <div class="row">
        <div class="column-100">
          {% include header_wiki.html %}
        </div>
      </div>
      
      <div class="row">
        <div class="column-50">
          {% include wikibreadcrumb.html %}
        </div>
        <div class="column-50">
            <div class="seg-line color-green"></div>
            {{ content }}
        </div>
      </div>
    
      <div class="row">
        <div class="column-100">
          {% include footer.html %}
        </div>
      </div>
</body>