<!DOCTYPE html>
<html lang={% if page.language %}"{{page.language}}"{% else %}"eng"{% endif %}>
<head>
    {% include default_head.html %}
    {% include wiki_head.html %}
    <title>{{ page.title }}</title>
</head>
<body>

    <div class="row">
        <div class="column-100">
          {% include header_wiki.html %}
        </div>
      </div>
      
      <div class="row">
        <div class="column-25">
          {% include wikibreadcrumb.html %}
          {% if page.status %}
            <div class="seg-line color-green"></div>
            <p class="mono-space small color-green">STATUS: {{ page.status }}</p>
          {% endif %}
          {% if page.first-commit %}
            <div class="seg-line color-green"></div>
            <p class="mono-space small color-green"><span class="uppercase">First commit:</span> {{ page.first-commit }}</p>
          {% endif %}
          {% if page.last-updated %}
            <div class="seg-line color-green"></div>
            <p class="mono-space small color-green"><span class="uppercase">Last updated:</span> {{ page.last-updated }}</p>
          {% endif %}
          <!-- Linked Notes based on the include template -->
          {% assign notes = page.linked-notes %}
          <div class="seg-line color-green mono-space small uppercase"><p>Linked Notes</p></div>
          <div id="allnotes-list">
          {% for note in notes %}
              {% assign link = site.pages | where_exp:"link", "link.path contains note"%}
              {% for item in link %}
              <p class="mono-space capitalize color-text"><a href="{{ site.baseurl }}{{item.url}}">
                <svg class="svg-icon" viewBox="0 0 20 20">
                  <path d="M15.475,6.692l-4.084-4.083C11.32,2.538,11.223,2.5,11.125,2.5h-6c-0.413,0-0.75,0.337-0.75,0.75v13.5c0,0.412,0.337,0.75,0.75,0.75h9.75c0.412,0,0.75-0.338,0.75-0.75V6.94C15.609,6.839,15.554,6.771,15.475,6.692 M11.5,3.779l2.843,2.846H11.5V3.779z M14.875,16.75h-9.75V3.25h5.625V7c0,0.206,0.168,0.375,0.375,0.375h3.75V16.75z"></path>
                </svg>{{item.title }}</a></p>
              {% endfor %}
          {% endfor %}
        </div>
          <div class="seg-line color-green resp-no-display"></div>
        </div>
        <div class="column-50">
            <div class="seg-line color-green"></div>
            <article class="article-wrapper wiki" id="contents">{{ content }}</article>
        </div>
        <div class="column-25">
          <div class="seg-line color-green resp-no-display"></div>
        </div>
      </div>
    
    {% include footer.html %}
</body>
</html>