<!DOCTYPE html>
<head>
    {% include default_head.html %}
    {% include wiki_head.html %}
    <title>{{ page.title }}</title>
</head>
<body>

    <div class="row">
        <div class="column-100">
          {% include header_wiki.html %}
        </div>
      </div>
      
      <div class="row">
        <div class="column-25">
          {% include wikibreadcrumb.html %}
          {% if page.status %}
            <div class="seg-line color-green"></div>
            <p class="mono-space small color-green">STATUS: {{ page.status }}</p>
          {% endif %}
          <div class="seg-line color-green resp-no-display"></div>
        </div>
        <div class="column-50">
            <div class="seg-line color-green"></div>
            <article class="article-wrapper" id="contents">{{ content }}</article>
        </div>
        <div class="column-25"><div class="seg-line color-green"></div></div>
      </div>
    
    {% include footer.html %}
</body>