<!DOCTYPE html>
{% assign folderfilter = page.path | replace: "/index.html" , "" %}
<head>{% include wiki_head.html %}</head>
<body>
  <div class="content-wrapper">
    {% include header_wiki.html %}
    {% include wikibreadcrumb.html %}
    <p>{{content}}</p>

    <div>
    {% assign notes = site.pages | where_exp: "item" , "item.path contains folderfilter" | reverse %}

    {% assign snippets = site.static_files | where_exp: "item" , "item.path contains folderfilter" %}

    <h3>Notes:</h3>

    <ul id="notes_list">
    {% for item in notes %}
        {% unless item.path contains "index.html" %}
            <li class="notes">
              <p class="mono-space" id="notes_link"><a href="{{ site.baseurl }}{{item.url}}">{{item.path | replace: folderfilter , ""}}</a></p>
              {{ item.content | markdownify }}
            </li>
        {% endunless %}
    {% endfor %}
    </ul>

    </div>
    {% include footer.html %}
  </div>
</body>